/* Add your desired styling for the Contact page */

body {
    background-color: #000; /* Dark background */
    color: #fff; /* Light text color */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  p {
    text-align: center;
    margin-bottom: 40px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    width: 100%;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #fff; /* Light label color */
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #333; /* Dark input background */
    color: #fff; /* Light input text color */
    border-radius: 5px;
  }
  
  textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  .btn {
    padding: 10px 20px;
    background-color: #333; /* Dark button background */
    color: #fff; /* Light button text color */
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  footer {
    text-align: center;
    background-color: #222; /* Dark footer background */
    padding: 20px;
    color: #fff; /* Light footer text color */
  }
  